.navbar {
    .nav-link {
        border: var(--text-color) 1px solid;
        cursor: pointer;
    }
    
    .navbar-brand {
        color: var(--orange-color) !important;
    }
    
    .nav-link:hover {
        background-color: transparent;
        color: var(--orange-color) !important;
    }
    
    .dropdown-menu {
        background-color: var(--bg-color);
        border-radius: 0px;
        border-color: var(--text-color);
    }

    .dropdown-divider {
        border-color: var(--text-color);
    }
    
    .dropdown-item:hover {
        background-color: transparent;
        color: var(--orange-color);
    }
}