body {
  box-sizing: border-box !important;
  background-color: rgb(21, 16, 11) !important;
  color: rgb(254, 233, 212) !important;
  font-family: "Roboto Mono", "Times New Roman", Times, serif !important;
}
body a {
  color: rgb(254, 233, 212) !important;
}

.dropdown-menu {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-color: rgb(254, 233, 212) !important;
}
.dropdown-divider {
  border-color: rgb(254, 233, 212) !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
  color: rgb(255, 138, 20) !important;
}
.nav-link {
  border: rgb(254, 233, 212) 1px solid !important;
}
.navbar-brand {
  color: rgb(255, 138, 20) !important;
}
.nav-link:hover {
  background-color: transparent !important;
  color: rgb(255, 138, 20) !important;
}

.option {
  border: 1px solid rgb(254, 233, 212) !important;
  color: rgb(254, 233, 212) !important;
  height: 3rem !important;
  line-height: 2.9rem !important;
  width: 100%;
  cursor: pointer !important;
  transition: 0.2s !important;
}
.selected {
  color: rgb(255, 138, 20) !important;
  border-color: rgb(255, 138, 20) !important;
}
.correct {
  background-color: rgb(0, 130, 33) !important;
  border-color: rgb(254, 233, 212) !important;
  color: rgb(254, 233, 212) !important;
}
.incorrect {
  background-color: rgb(130, 28, 0) !important;
  border-color: rgb(254, 233, 212) !important;
  color: rgb(254, 233, 212) !important;
}
.radio-btn {
  border: none;
  cursor: pointer !important;
}

.submit-btn {
  border: 1px solid rgb(255, 138, 20) !important;
  color: rgb(254, 233, 212) !important;
  background-color: transparent;
  height: 3rem !important;
  width: 35% !important;
  min-width: auto !important;
  cursor: pointer !important;
  transition: 0.15s;
}
.submit-btn:active {
  color: rgb(255, 138, 20) !important;
}

.quiz {
  transition: 0.5s;
}

.slide-out {
  transform: translateX(100vw);
}

.slide-in {
  transform: translateX(0);
}
